In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df['petal_length'].mean()

3.7586666666666693

In [7]:
df['Petal Area'] = df['petal_width'] * df['petal_length']
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  Petal Area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

In [20]:
df['species'] = df['species'].str.title()
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  Petal Area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

In [45]:
grouped = df.groupby('species').mean()
grouped.columns = grouped.columns.map(lambda x: x.title() + ' mean')
grouped

,Sepal_Length mean,Sepal_Width mean,Petal_Length mean,Petal_Width mean,Petal Area mean
species,,,,,
Setosa,5.006,3.418,1.464,0.244,0.3628
Versicolor,5.936,2.770,4.260,1.326,5.7204
Virginica,6.588,2.974,5.552,2.026,11.2962