In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading in CSV's and Naming Features

In [ ]:
bom_movie_gross = pd.read_csv('bom.movie_gross.csv')

In [ ]:
imdb_name_basics = pd.read_csv('imdb.name.basics.csv')

In [ ]:
imdb_title_akas = pd.read_csv('imdb.title.akas.csv')

In [ ]:
imdb_title_basics = pd.read_csv('imdb.title.basics.csv')

In [ ]:
imdb_title_crew = pd.read_csv('imdb.title.crew.csv')
imdb_title_crew = imdb_title_crew.rename(columns = {'tconst': 'title_id'})

In [ ]:
imdb_title_principals = pd.read_csv('imdb.title.principals.csv')
imdb_title_principals = imdb_title_principals.rename(columns = {'tconst' : 'title_id'})

In [ ]:
imdb_title_ratings = pd.read_csv('imdb.title.ratings.csv')
imdb_title_ratings = imdb_title_ratings.rename(columns = {'tconst': 'title_id'})

In [ ]:
rt_movie_info = pd.read_csv('rt.movie_info.tsv', delimiter = '\t')

In [ ]:
rt_reviews = pd.read_csv('rt.reviews.tsv', delimiter = '\t', encoding = 'windows-1252')

In [ ]:
tn_movie_budgets = pd.read_csv('tn.movie_budgets.csv')

# Merging IMDB Tables

In [295]:
# Merge IMDB tables on tconst (renamed to 'title_id')
imdb_title_ratings_principals = pd.merge(imdb_title_ratings, imdb_title_principals, on = 'title_id', how = 'outer')
imdb_title_full = pd.merge(imdb_title_ratings_principals, imdb_title_crew, on = 'title_id', how = 'outer')
imdb_title_names_full = pd.merge(imdb_title_full, imdb_name_basics, on = 'nconst', how = 'outer')
imdb_title_names_full.head()
imdb_title_names_full.shape

(1033234, 15)

# Drop Columns not related to average rating

In [296]:
#drop unecessary columns
imdb_title_names_full = imdb_title_names_full.drop('job', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('birth_year', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('death_year', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('ordering', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('nconst', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('numvotes', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('directors', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('writers', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('characters', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('known_for_titles', axis = 1)
imdb_title_names_full = imdb_title_names_full.drop('title_id', axis = 1)

In [297]:
imdb_title_names_full.head(20)

,averagerating,category,primary_name,primary_profession
0,8.3,production_designer,Kazi Rafik Ali,"production_designer,art_department"
1,8.3,production_designer,Kazi Rafik Ali,"production_designer,art_department"
2,NaN,production_designer,Kazi Rafik Ali,"production_designer,art_department"
3,8.3,actor,Harish Verma,actor
4,6.4,actor,Harish Verma,actor
5,6.4,actor,Harish Verma,actor
6,6.9,actor,Harish Verma,actor
7,5.8,actor,Harish Verma,actor
8,7.3,actor,Harish Verma,actor
9,7.8,actor,Harish Verma,actor
10,7.6,actor,Harish Verma,actor
11,6.7,actor,Harish Verma,actor
12,7.6,actor,Harish Verma,actor
13,5.8,actor,Harish Verma,actor
14,5.5,actor,Harish Verma,actor
15,5.8,actor,Harish Verma,actor
16,6.5,actor,Harish Verma,actor
17,8.3,actress,Roopi Gill,actress
18,7.0,actress,Roopi Gill,actress
19,6.0,actress,Roopi Gill,actress

In [ ]:
# Drop NaN Average Rating
imdb_clean = imdb_title_names_full.dropna()
imdb_clean.primary_name.value_counts()

In [ ]:
%matplotlib inline
imdb_graph = sns.distplot(imdb_clean['primary_name'])
imdb_graph

# Group DF by name and rating

In [ ]:
# Group cleaned DF by primary name and 
primary_name_rating = imdb_clean.groupby(['primary_name', 'primary_profession'])
primary_name_rating.mean().sort_values('averagerating')